
<div class="container">

    <a asp-route="ListCategoriesRoute"><h2>Categories</h2></a>
    <a asp-route="ListPostsRoute"><h2>Posts</h2></a>
    <a asp-route="ListCommentsRoute"><h2>Comments</h2></a>

</div>


